@import url('https://fonts.googleapis.com/css?family=Cairo:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

/*
.menu{
    text-align: right;
    height: inherit;
    float: left;
    width: 600px;
}



.nav ul{
    list-style-type: none;
    display: flex;
    background-color: brown;
    width: 50%;
    height: 100%;
    align-items: center;
}
*/
/*Header*/
header{
    display: flex;
    width: 80%;
    margin:auto;    
    height: 20vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    /*
    position: sticky;
    top: 0;*/
}
.brand,.nav-links,.cta{
    display: flex;
}

.brand{
    align-items: center;
    flex: 3;
}
nav{
    flex: 2;
}


.logo{
    cursor: pointer;
    height: 2.5em;
    padding-right: 10px;
    transition: all 0.3s ease 0s;
}

.logo:hover{
    height: 3em;
    padding-right: 0;
}

.name{
    font-size: 2em;
    color: rgb(12, 8, 85);
    font-family: 'Cairo', sans-serif ;
    font-weight: 600;
    margin-right: auto;
}

nav{
    font-size: 1.2em;
    font-weight: 400;
    margin: auto 30px auto 30px;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
    
}

.nav-links li a{
    height: inherit;
    color: rgb(12, 8, 85);
    text-decoration: none;
    transition: all 0.3s ease 0s;
    
}
.nav-links li a:hover{
    background-color: rgb(238, 160, 16);
}

.cta{
    font-size: 1.2em;
    padding: 6px 10px;
    text-decoration: none;
    background-color: rgb(12, 8, 85);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}
.cta:hover{
    background-color: rgb(238, 160, 16);
    color: rgb(12, 8, 85);
}
/*
/*End of Header*/
/*
.container{
    width: 80%;
    margin:auto;
    margin-top: 50px;
    display: flex;
}
*/
