@import url('https://fonts.googleapis.com/css?family=Cairo:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}


/*
.menu{
    text-align: right;
    height: inherit;
    float: left;
    width: 600px;
}



.nav ul{
    list-style-type: none;
    display: flex;
    background-color: brown;
    width: 50%;
    height: 100%;
    align-items: center;
}
*/
/*Header*/
.hc{
    display: flex;
    width: 100%;
       
    height: 10vh;
    position: fixed;
    z-index:    2000;
    background-color: rgb(255, 255, 255);

    border-bottom: 1px solid rgb(173, 173, 173);
    box-shadow: 0px 5px 12px -8px #a7a5a5;
}
header{
    
    display: flex;
    width: 80%;
    margin:auto; 
    align-items: center;
    /*background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;*/
}
.brand,.nav-links,.cta{
    display: flex;
}

.brand{
    align-items: center;
    flex: 2;
}
nav{
    
    flex: 2;
}


.logo{
    cursor: pointer;
    height: 2.6em;
    padding-right: 10px;
    transition: all 0.3s ease 0s;
}

.logo:hover{
    padding-right: 0;
    height: 3.2em;
}

.name{
    font-size: 1.8em;
    color: rgb(12, 8, 85);
    font-family: 'Cairo', sans-serif ;
    font-weight: 600;
    margin-right: auto;
}

nav{
    font-size: 1.1em;
    font-weight: 400;
}

.nav-links{
    list-style: none;
    justify-content: center;
}

.nav-links li{
    padding: 12px 30px;
    transition: all 0.3s ease 0s;
}
.nav-links li:hover{
    background-color: rgb(238, 160, 16);
}
.nav-links li a{
    color: rgb(12, 8, 85);
    text-decoration: none;
    transition: all 0.3s ease 0s;
    
}

/*

.cta{
    font-size: 1.1em;
    padding: 8px 15px;
    text-decoration: none;
    background-color: rgb(12, 8, 85);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}

.cta:hover{
    background-color: rgb(238, 160, 16);
    color: rgb(12, 8, 85);
}
*/
a.cta{
    max-width: fit-content;
}
.cta img{
    height:3em;
}
/*End of Header*/

.container{
    width: 80%;
    text-align: justify;
    margin:auto;
    display: flex;
}


