@import url('https://fonts.googleapis.com/css?family=Cairo:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}


/*
.menu{
    text-align: right;
    height: inherit;
    float: left;
    width: 600px;
}



.nav ul{
    list-style-type: none;
    display: flex;
    background-color: brown;
    width: 50%;
    height: 100%;
    align-items: center;
}
*/
/*Header*/
.hc{
    width: 100%;
    height: 8vh;
}
.fh{
    display: flex;
    width: 100%;
       
    height: inherit;
    position: fixed;
    z-index:    2000;
    background-color: rgb(255, 255, 255);

    /*border-bottom: 1px solid rgb(173, 173, 173);*/
    box-shadow: 0px 3px 10px -5px #a7a5a5;
}
header{
    
    display: flex;
    width: 80%;
    height: inherit;
    margin:auto; 
    align-items: center;
    /*background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;*/
}
.brand,.nav-links,.cta{
    display: flex;
}

.brand{
    align-items: center;
    flex: 2;
}
nav{
    
    flex: 2;
}


.logo{
    cursor: pointer;
    height: 2.6em;
    padding-right: 10px;
    transition: all 0.3s ease 0s;
}

.logo:hover{
    padding-right: 0;
    height: 3.2em;
}

.name{
    font-size: 1.8em;
    color: rgb(12, 8, 85);
    font-family: 'Cairo', sans-serif ;
    font-weight: 600;
    margin-right: auto;
}

nav{
    font-size: 1.1em;
    font-weight: 400;
}

.nav-links{
    list-style: none;
    justify-content: flex-end;
}

.nav-links li{
    padding: 12px 2vw;
    transition: all 0.3s ease 0s;
}
.nav-links li:hover{
    background-color: rgb(238, 160, 16);
}
.nav-links li a{
    color: rgb(12, 8, 85);
    text-decoration: none;
    transition: all 0.3s ease 0s;
    
}

/*

.cta{
    font-size: 1.1em;
    padding: 8px 15px;
    text-decoration: none;
    background-color: rgb(12, 8, 85);
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}

.cta:hover{
    background-color: rgb(238, 160, 16);
    color: rgb(12, 8, 85);
}
*/
a.cta{
    width: 6vw;
    justify-content: center;
}
.cta img{
    height:2.8em;
    transition: all 0.3s ease;
}

.cta img:hover{
    height: 3.2em;
}
/*End of Header*/

.container{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.login{
    width: 30%;
    position: relative;
    height: 50px;
    overflow: hidden;
}
.login input{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    outline: none;
}
.login label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.login label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(69, 165, 255);
    box-shadow: 0px 5px 15px -10px rgb(69, 165, 255);
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 1.1em;
    font-family: 'Cairo', sans-serif ;
    transition: all 0.3s ease;
}

.login input:focus + label .content-name, .login input:valid + label .content-name{
    transform: translateY(-120%);
    font-size: 14px;
    color: rgb(69, 165, 255);
}
.login input:focus + label::after, .login input:valid + label::after{
    transform: translateX(0%);
}
    



